name: "Variants demo using --quick-start"

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    paths:
      - '*.kicad_sch'
      - '*.kicad_pcb'
      - '.github/workflows/kibot_quickstart.yml'
  pull_request:
    paths:
      - '*.kicad_sch'
      - '*.kicad_pcb'
      - '.github/workflows/kibot_quickstart.yml'

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
      with:
        # So we can run a diff between last 2 changes
        fetch-depth: '0'

    - name: Run aaahhhHHH
      uses: INTI-CMNB/KiBot@v2_k6
      with:
        quickstart: YES
        dir: generated
    - name: Retrieve results
      uses: actions/upload-artifact@v2
      with:
        name: Automatic_outputs
        path: Generated

  # This step is to upload the results to another repo (web pages)
  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
    - uses: actions/checkout@v3

    - name: Retrieve results
      uses: actions/download-artifact@v2
      with:
        name: Automatic_outputs
        path: Generated

    - name: Deploy navigate results
      uses: JamesIves/github-pages-deploy-action@v4.3.3
      with:
        branch: main
        folder: Generated
        repository-name: Dekanova/redshift-docs
        token: ${{ secrets.TOKEN }}

